#!/bin/bash
export ENV_AMC_USABLITY_ADDR={{ ENV_AMC_USABLITY_ADDR }}
export ENV_AMC_USABLITY_PORT={{ ENV_AMC_USABLITY_PORT }}
export ENV_AMC_MODULECODE=F-PAAS2-MASTER-USABLITY-MONITOR
export ENV_AMC_MODULESUBCODE=kube-apiserver
export ENV_APP_NAME=F-PAAS
export ENV_AMC_SUBAPP_NAME=RUNTIME
export ENV_LOG_PATH=/var/log
#retry limit and interval
export ENV_MAX_RETRY_COUNT=5
export ENV_RETRY_INTERVAL=30