#!/bin/sh
retry=0
while(( $retry<6 ))
do
  checkfile=`ls /run/flannel/subnet.env`
  if [[ -z "${checkfile}" ]];  then
    sleep 10
    let "retry++"
  else
    echo "File subnet.env exists."
    exit 0
  fi
done

if [[ ${retry} == 6 ]];  then
  echo "File subnet.env not found."
  exit 1
fi