KUBE_CONTROLLER_MANAGER_ARGS="--port=0 \
                              --secure-port=10252 \
                              --bind-address=127.0.0.1 \
                              --kubeconfig=/approot1/paas/kube/cert/kube-controller-manager/kube-controller-manager.kubeconfig \
                              --service-cluster-ip-range={{ SERVICE_IP_RANGE }} \
                              --cluster-name=kubernetes \
                              --cluster-signing-cert-file=/approot1/paas/kube/cert/ca.pem \
                              --cluster-signing-key-file=/approot1/paas/kube/cert/ca-key.pem \
                              --experimental-cluster-signing-duration=876000h \
                              --root-ca-file=/approot1/paas/kube/cert/cb-ca.pem \
                              --service-account-private-key-file=/approot1/paas/kube/cert/ca-key.pem \
                              --leader-elect=true \
                              --feature-gates=RotateKubeletServerCertificate=true \
                              --controllers=*,bootstrapsigner,tokencleaner \
                              --horizontal-pod-autoscaler-use-rest-clients=true \
                              --horizontal-pod-autoscaler-sync-period=10s \
                              --tls-cert-file=/approot1/paas/kube/cert/kube-controller-manager/kube-controller-manager.pem \
                              --tls-private-key-file=/approot1/paas/kube/cert/kube-controller-manager/kube-controller-manager-key.pem \
                              --use-service-account-credentials=true \
                              --pod-eviction-timeout=3m0s \
                              --concurrent-gc-syncs=200 \
                              --gc-limit-burst=300 \
                              --gc-limit-rate=200 \
                              --kube-api-burst=300 \
                              --kube-api-qps=200"
