global
	log 127.0.0.1 local0 notice
	maxconn 65535
	uid 99
	gid 99
	nbproc 1
	pidfile /var/run/haproxy.pid
defaults
	log global
	retries 2
	timeout connect 3000
	timeout server 5000
	timeout client 5000
	maxconn 200000
listen mysql-cluster
	bind 0.0.0.0:9999
	mode http
	balance roundrobin
	server apiserver-1 {{ groups['k8smaster'][0] }}:{{ APISERVER_PORT }} check weight 1
	server apiserver-2 {{ groups['k8smaster'][1] }}:{{ APISERVER_PORT }} check weight 1
	server apiserver-3 {{ groups['k8smaster'][2] }}:{{ APISERVER_PORT }} check weight 1
listen ha
	bind 0.0.0.0:6666
	mode http
	stats enable
	stats uri /
	stats realm Strictly\ Private
	stats auth admin:admin
frontend https_frontend
    bind *:443 ssl crt /root/haproxy/ssl/k8s.pem
    mode http
    option httpclose
    option forwardfor
    reqadd X-Forwarded-Proto:\ https
    default_backend web_server
backend web_server
	mode http
	balance roundrobin
	server apiserver-1 {{ groups['k8smaster'][0] }}:{{ APISERVER_PORT }} check weight 1
	server apiserver-2 {{ groups['k8smaster'][1] }}:{{ APISERVER_PORT }} check weight 1
	server apiserver-3 {{ groups['k8smaster'][2] }}:{{ APISERVER_PORT }} check weight 1

