#!/bin/sh
su - kube
cd /approot1/paas/kube/cert
/approot1/paas/kube/bin/kubectl config set-cluster kubernetes \
  --certificate-authority=/approot1/paas/kube/cert/ca.pem \
  --embed-certs=true \
  --server=https://{{ groups['k8s_F5'][0] }}:6443 \
  --kubeconfig=/approot1/paas/kube/cert/kubectl.kubeconfig


/approot1/paas/kube/bin/kubectl config set-credentials admin \
  --client-certificate=/approot1/paas/kube/cert/admin.pem \
  --client-key=/approot1/paas/kube/cert/admin-key.pem \
  --embed-certs=true \
  --kubeconfig=/approot1/paas/kube/cert/kubectl.kubeconfig

/approot1/paas/kube/bin/kubectl config set-context kubernetes \
  --cluster=kubernetes \
  --user=admin \
  --kubeconfig=/approot1/paas/kube/cert/kubectl.kubeconfig

/approot1/paas/kube/bin/kubectl config use-context kubernetes --kubeconfig=/approot1/paas/kube/cert/kubectl.kubeconfig