apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: prometheus
rules:
# Pods, Nodes, Deployments, StatefulSets
- apiGroups: [""]
  resources: ["pods", "nodes", "endpoints", "namespaces", "services", "nodes/metrics"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["apps"]
  resources: ["deployments", "statefulsets", "replicasets"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["networking.k8s.io"]
  resources: ["ingresses"]
  verbs: ["get", "list", "watch"]
- apiGroups: ["apiGroups"]
  resources: ["deployments"]
  verbs: ["get", "list", "watch"]
# For metrics and proxy (needed by Prometheus)
- nonResourceURLs: ["/metrics", "/metrics/cadvisor", "/metrics/probes", "/metrics/resource", "/healthz", "/readyz", "/livez", "/version"]
  verbs: ["get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus-sa
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: prometheus-sa
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: prometheus
subjects:
- kind: ServiceAccount
  name: prometheus-sa
  namespace: kube-system