# /etc/kubernetes/image-credential-provider.yaml
apiVersion: kubelet.config.k8s.io/v1
kind: CredentialProviderConfig
providers:
  - name: docker-credential-fyhub
    matchImages:
      - "{{ ENV_DOCKER_HARBOR_DOMAIN }}"     # 匹配这个仓库
      - "{{ ENV_DOCKER_HARBOR_DOMAIN }}:{{ ENV_DOCKER_HARBOR_PORT }}"     # 匹配这个仓库
      - "{{ ENV_DOCKER_HARBOR_DOMAIN }}/*"  # 匹配这个仓库下的所有镜像
      - "{{ ENV_DOCKER_HARBOR_DOMAIN }}:{{ ENV_DOCKER_HARBOR_PORT }}/*"  # 匹配这个仓库下的所有镜像
    defaultCacheDuration: "1h"             # 凭证缓存1h
    apiVersion: credentialprovider.kubelet.k8s.io/v1