[Unit]
Description=Etcd Server
After=network.target
[Service]
Type=simple
WorkingDirectory=/approot1/paas/etcd
ExecStart=/bin/bash -c "/approot1/paas/etcd/startetcd.sh"
LimitNOFILE=65536
TasksMax=infinity
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=3
[Install]
WantedBy=multi-user.target