apiVersion: kubeproxy.config.k8s.io/v1alpha1
bindAddress: {{ inventory_hostname }}
clientConnection:
  kubeconfig: /approot1/paas/kube/cert/kube-proxy.kubeconfig
clusterCIDR: {{ CLUSTER_IP_RANGE }}
healthzBindAddress: {{ inventory_hostname }}:10256
hostnameOverride: {{ inventory_hostname }}
kind: KubeProxyConfiguration
metricsBindAddress: {{ inventory_hostname }}:10249
mode: "ipvs"