KUBELET_KUBECONFIG="--kubeconfig=/approot1/paas/kube/cert/kubelet.kubeconfig"
KUBELET_ARGS="--fail-swap-on=false \
              --bootstrap-kubeconfig=/approot1/paas/kube/cert/kubelet-bootstrap.kubeconfig \
              --cert-dir=/approot1/paas/kube/cert \
              --config=/approot1/paas/kube/conf/kubelet.config.json \
              --pod-infra-container-image={{ NETWORK_CLASSIFIED_HARBOR_DOMAIN }}/google_containers/pause-amd64:3.0 \
              --hostname-override={{ inventory_hostname }} \
              --root-dir=/var/lib/docker \
              --allowed-unsafe-sysctls=net.* \
              --maximum-dead-containers=10 \
              --maximum-dead-containers-per-container=3 \
              --minimum-container-ttl-duration=12h0m \
              --image-gc-low-threshold=50 \
              --image-gc-high-threshold=75 \
              --rotate-certificates=true \
              --kube-reserved=cpu={{ V4_KUBE_CPU_RESERVED }},memory={{ V4_KUBE_MEM_RESERVED }} \
              --kube-reserved-cgroup=/system.slice/kubelet.service \
              --enforce-node-allocatable=pods,kube-reserved  \
              --eviction-hard=imagefs.available<15% \
              --eviction-minimum-reclaim=imagefs.available=0.5Gi"
