{
  "CN": "kube-apiserver",
  "C": "CN",
  "ST": "Hangzhou",
  "L": "Hangzhou",
  "OU": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "hosts": [
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster.local",
    "10.0.0.1",
    "{{ KUBERNETES_CLUSTER_IP }}"
  ]
}
