[Unit]
Description=csi-controller
After=network.target

[Service]
ExecStart=/approot1/paas/kube/csi/bin/csi-controller \
        -kubeconfig="/approot1/paas/kube/cert/kubectl.kubeconfig" -v=5
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
