[Unit]
Description=kube-state Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/approot1/paas/kube-state/kube-state-metrics-linux --port=1234 --telemetry-port=1235 --kubeconfig=/approot1/paas/kube/cert/kubectl.kubeconfig
Restart=always
[Install]
WantedBy=multi-user.target
