[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kube-scheduler https://kubernetes.io/docs/reference/generated/kube-scheduler/

[Service]
EnvironmentFile=-/approot1/paas/kube/conf/kube-scheduler.config
EnvironmentFile=-/approot1/paas/kube/conf/scheduler
User=kube
ExecStart=/approot1/paas/kube/bin/kube-scheduler \
	    $KUBE_SCHEDULER_LOGTOSTDERR \
	    $KUBE_SCHEDULER_LOG_LEVEL \
	    $KUBE_MASTER \
	    $KUBE_SCHEDULER_ARGS
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=3
LimitNOFILE=65536
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scheduler

[Install]
WantedBy=multi-user.target